Homeworks/Homewotk1DevMaven/.idea/compiler.xml
Homeworks/Homewotk1DevMaven/.idea/encodings.xml
Homeworks/Homewotk1DevMaven/.idea/jarRepositories.xml
Homeworks/Homewotk1DevMaven/.idea/misc.xml
Homeworks/Homewotk1DevMaven/.idea/uiDesigner.xml
Homeworks/Homewotk1DevMaven/.idea/vcs.xml
Homeworks/Homewotk1DevMaven/target/classes/dto/UserDTO.class
Homeworks/Homewotk1DevMaven/target/classes/Main.class
Homeworks/Homewotk1DevMaven/target/maven-archiver/pom.properties
Homeworks/Homewotk1DevMaven/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Homeworks/Homewotk1DevMaven/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Homeworks/Homewotk1DevMaven/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Homeworks/Homewotk1DevMaven/target/my-name.jar
Homeworks/Homewotk1DevMaven/target/myname.jar
Homeworks/Homework1DevGradle/gradlew
Homeworks/Homework1DevGradle/gradlew.bat
Homeworks/Homework1DevGradle/build
Homeworks/Homework1DevGradle/.idea
Homeworks/Homework1DevGradle/.gradle/8.1.1/checksums/checksums.lock
Homeworks/Homework1DevGradle/.gradle/8.1.1/checksums/md5-checksums.bin
Homeworks/Homework1DevGradle/.gradle/8.1.1/checksums/sha1-checksums.bin
Homeworks/Homework1DevGradle/.gradle/8.1.1/dependencies-accessors/dependencies-accessors.lock
Homeworks/Homework1DevGradle/.gradle/8.1.1/dependencies-accessors/gc.properties
Homeworks/Homework1DevGradle/.gradle/8.1.1/executionHistory/executionHistory.bin
Homeworks/Homework1DevGradle/.gradle/8.1.1/executionHistory/executionHistory.lock
Homeworks/Homework1DevGradle/.gradle/8.1.1/fileChanges/last-build.bin
Homeworks/Homework1DevGradle/.gradle/8.1.1/fileHashes/fileHashes.bin
Homeworks/Homework1DevGradle/.gradle/8.1.1/fileHashes/fileHashes.lock
Homeworks/Homework1DevGradle/.gradle/8.1.1/fileHashes/resourceHashesCache.bin
Homeworks/Homework1DevGradle/.gradle/8.1.1/gc.properties
Homeworks/Homework1DevGradle/.gradle/8.1/checksums/checksums.lock
Homeworks/Homework1DevGradle/.gradle/8.1/checksums/md5-checksums.bin
Homeworks/Homework1DevGradle/.gradle/8.1/checksums/sha1-checksums.bin
Homeworks/Homework1DevGradle/.gradle/8.1/dependencies-accessors/dependencies-accessors.lock
Homeworks/Homework1DevGradle/.gradle/8.1/dependencies-accessors/gc.properties
Homeworks/Homework1DevGradle/.gradle/8.1/executionHistory/executionHistory.bin
Homeworks/Homework1DevGradle/.gradle/8.1/executionHistory/executionHistory.lock
Homeworks/Homework1DevGradle/.gradle/8.1/fileChanges/last-build.bin
Homeworks/Homework1DevGradle/.gradle/8.1/fileHashes/fileHashes.bin
Homeworks/Homework1DevGradle/.gradle/8.1/fileHashes/fileHashes.lock
Homeworks/Homework1DevGradle/.gradle/8.1/fileHashes/resourceHashesCache.bin
Homeworks/Homework1DevGradle/.gradle/8.1/gc.properties
Homeworks/Homework1DevGradle/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Homeworks/Homework1DevGradle/.gradle/buildOutputCleanup/cache.properties
Homeworks/Homework1DevGradle/.gradle/buildOutputCleanup/outputFiles.bin
Homeworks/Homework1DevGradle/.gradle/file-system.probe
Homeworks/Homework1DevGradle/.gradle/vcs-1/gc.properties
Homeworks/Homework1DevGradle/.idea/workspace.xml
Homeworks/Homework1DevGradle/gradlew
Homeworks/Homework1DevGradle/gradlew.bat
Homeworks/Homework1DevGradle/.gradle/file-system.probe
Homeworks/Homework1DevGradle/.idea/workspace.xml
Homeworks/Homework1DevGradle/.idea/workspace.xml
Homeworks/HomeworkDev1Maven/.idea/compiler.xml
Homeworks/HomeworkDev1Maven/.idea/encodings.xml
Homeworks/HomeworkDev1Maven/.idea/jarRepositories.xml
Homeworks/HomeworkDev1Maven/.idea/misc.xml
Homeworks/HomeworkDev1Maven/.idea/uiDesigner.xml
Homeworks/HomeworkDev1Maven/.idea/vcs.xml
Homeworks/HomeworkDev1Maven/target/classes/dto/UserDTO.class
Homeworks/HomeworkDev1Maven/target/classes/Main.class
Homeworks/HomeworkDev1Maven/target/maven-archiver/pom.properties
Homeworks/HomeworkDev1Maven/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Homeworks/HomeworkDev1Maven/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Homeworks/HomeworkDev1Maven/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Homeworks/HomeworkDev1Maven/target/my-name.jar
Homeworks/HomeworkDev1Maven/target/myname.jar
Homeworks/HomeworkDev1Gradle/.gradle/8.1/checksums/sha1-checksums.bin
Homeworks/HomeworkDev1Gradle/.gradle/8.1/checksums/checksums.lock
Homeworks/HomeworkDev1Gradle/.gradle/8.1/checksums/md5-checksums.bin
Homeworks/HomeworkDev1Gradle/.gradle/8.1/dependencies-accessors/dependencies-accessors.lock
Homeworks/HomeworkDev1Gradle/.gradle/8.1/dependencies-accessors/gc.properties
Homeworks/HomeworkDev1Gradle/.gradle/8.1/executionHistory/executionHistory.bin
Homeworks/HomeworkDev1Gradle/.gradle/8.1/executionHistory/executionHistory.lock
Homeworks/HomeworkDev1Gradle/.gradle/8.1/fileChanges/last-build.bin
Homeworks/HomeworkDev1Gradle/.gradle/8.1/fileHashes/fileHashes.bin
Homeworks/HomeworkDev1Gradle/.gradle/8.1/fileHashes/fileHashes.lock
Homeworks/HomeworkDev1Gradle/.gradle/8.1/fileHashes/resourceHashesCache.bin
Homeworks/HomeworkDev1Gradle/.gradle/8.1/gc.properties
Homeworks/HomeworkDev1Gradle/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Homeworks/HomeworkDev1Gradle/.gradle/buildOutputCleanup/cache.properties
Homeworks/HomeworkDev1Gradle/.gradle/buildOutputCleanup/outputFiles.bin
Homeworks/HomeworkDev1Gradle/.gradle/file-system.probe
Homeworks/HomeworkDev1Gradle/.gradle/vcs-1/gc.properties
Homeworks/HomeworkDev1Gradle/gradlew.bat
Homeworks/HomeworkDev1Gradle/gradlew
Homeworks/HomeworkDev1Gradle/build/tmp/jar/MANIFEST.MF
Homeworks/HomeworkDev1Gradle/build/tmp/compileJava/previous-compilation-data.bin
Homeworks/HomeworkDev1Gradle/build/tmp/.cache/expanded/expanded.lock
Homeworks/HomeworkDev1Gradle/build/libs/myname.jar
Homeworks/HomeworkDev1Gradle/build/classes/java/main/org/myName/UserDTO.class
Homeworks/HomeworkDev1Gradle/build/classes/java/main/org/myName/Main.class
Homeworks/HomeworkDev1Gradle/.idea/vcs.xml
Homeworks/HomeworkDev1Gradle/.idea/misc.xml
Homeworks/HomeworkDev1Gradle/.idea/jarRepositories.xml
Homeworks/HomeworkDev1Gradle/.idea/gradle.xml
Homeworks/HomeworkDev1Gradle/.idea/compiler.xml
Homeworks/HomeworkDev2Gradle/.gradle/7.4/checksums/checksums.lock
Homeworks/HomeworkDev2Gradle/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
Homeworks/HomeworkDev2Gradle/.gradle/7.4/dependencies-accessors/gc.properties
Homeworks/HomeworkDev2Gradle/.gradle/7.4/executionHistory/executionHistory.bin
Homeworks/HomeworkDev2Gradle/.gradle/7.4/executionHistory/executionHistory.lock
Homeworks/HomeworkDev2Gradle/.gradle/7.4/fileChanges/last-build.bin
Homeworks/HomeworkDev2Gradle/.gradle/7.4/fileHashes/fileHashes.bin
Homeworks/HomeworkDev2Gradle/.gradle/7.4/fileHashes/fileHashes.lock
Homeworks/HomeworkDev2Gradle/.gradle/7.4/gc.properties
Homeworks/HomeworkDev2Gradle/.gradle/8.1/checksums/checksums.lock
Homeworks/HomeworkDev2Gradle/.gradle/8.1/dependencies-accessors/dependencies-accessors.lock
Homeworks/HomeworkDev2Gradle/.gradle/8.1/dependencies-accessors/gc.properties
Homeworks/HomeworkDev2Gradle/.gradle/8.1/executionHistory/executionHistory.bin
Homeworks/HomeworkDev2Gradle/.gradle/8.1/executionHistory/executionHistory.lock
Homeworks/HomeworkDev2Gradle/.gradle/8.1/fileChanges/last-build.bin
Homeworks/HomeworkDev2Gradle/.gradle/8.1/fileHashes/fileHashes.bin
Homeworks/HomeworkDev2Gradle/.gradle/8.1/fileHashes/fileHashes.lock
Homeworks/HomeworkDev2Gradle/.gradle/8.1/fileHashes/resourceHashesCache.bin
Homeworks/HomeworkDev2Gradle/.gradle/8.1/gc.properties
Homeworks/HomeworkDev2Gradle/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Homeworks/HomeworkDev2Gradle/.gradle/buildOutputCleanup/cache.properties
Homeworks/HomeworkDev2Gradle/.gradle/buildOutputCleanup/outputFiles.bin
Homeworks/HomeworkDev2Gradle/.gradle/file-system.probe
Homeworks/HomeworkDev2Gradle/.gradle/vcs-1/gc.properties
Homeworks/HomeworkDev2Gradle/.idea/.name
Homeworks/HomeworkDev2Gradle/.idea/compiler.xml
Homeworks/HomeworkDev2Gradle/.idea/gradle.xml
Homeworks/HomeworkDev2Gradle/.idea/jarRepositories.xml
Homeworks/HomeworkDev2Gradle/.idea/misc.xml
Homeworks/HomeworkDev2Gradle/.idea/vcs.xml
Homeworks/HomeworkDev2Gradle/gradlew
Homeworks/HomeworkDev2Gradle/gradlew.bat
Homeworks/HomeworkDev2Gradle/build/classes/java/main/org/example/Main.class
Homeworks/HomeworkDev2Gradle/build/classes/java/main/org/example/SumCalculator.class
Homeworks/HomeworkDev2Gradle/build/classes/java/test/SumCalculatorTest.class
Homeworks/HomeworkDev2Gradle/build/reports/tests/test/classes/SumCalculatorTest.html
Homeworks/HomeworkDev2Gradle/build/reports/tests/test/css/base-style.css
Homeworks/HomeworkDev2Gradle/build/reports/tests/test/css/style.css
Homeworks/HomeworkDev2Gradle/build/reports/tests/test/index.html
Homeworks/HomeworkDev2Gradle/build/reports/tests/test/js/report.js
Homeworks/HomeworkDev2Gradle/build/reports/tests/test/packages/default-package.html
Homeworks/HomeworkDev2Gradle/build/test-results/test/binary/output.bin
Homeworks/HomeworkDev2Gradle/build/test-results/test/binary/output.bin.idx
Homeworks/HomeworkDev2Gradle/build/test-results/test/binary/results.bin
Homeworks/HomeworkDev2Gradle/build/test-results/test/TEST-SumCalculatorTest.xml
Homeworks/HomeworkDev2Gradle/build/tmp/compileJava/previous-compilation-data.bin
Homeworks/HomeworkDev2Gradle/build/tmp/compileTestJava/previous-compilation-data.bin
Homeworks/HomeworkDev3SQL/.idea/compiler.xml
Homeworks/HomeworkDev3SQL/.idea/dbnavigator.xml
Homeworks/HomeworkDev3SQL/.idea/encodings.xml
Homeworks/HomeworkDev3SQL/.idea/jarRepositories.xml
Homeworks/HomeworkDev3SQL/.idea/misc.xml
Homeworks/HomeworkDev3SQL/.idea/vcs.xml
Homeworks/HomeworkDev3SQL/src/main/java/org/example/Main.java
Homeworks/HomeworkDev4/.gradle/8.1/gc.properties
Homeworks/HomeworkDev4/.gradle/8.1/fileHashes/resourceHashesCache.bin
Homeworks/HomeworkDev4/.gradle/8.1/fileHashes/fileHashes.lock
Homeworks/HomeworkDev4/.gradle/8.1/fileHashes/fileHashes.bin
Homeworks/HomeworkDev4/.gradle/8.1/fileChanges/last-build.bin
Homeworks/HomeworkDev4/.gradle/8.1/executionHistory/executionHistory.lock
Homeworks/HomeworkDev4/.gradle/8.1/executionHistory/executionHistory.bin
Homeworks/HomeworkDev4/.gradle/8.1/dependencies-accessors/gc.properties
Homeworks/HomeworkDev4/.gradle/8.1/dependencies-accessors/dependencies-accessors.lock
Homeworks/HomeworkDev4/.gradle/8.1/checksums/sha1-checksums.bin
Homeworks/HomeworkDev4/.gradle/8.1/checksums/md5-checksums.bin
Homeworks/HomeworkDev4/.gradle/8.1/checksums/checksums.lock
Homeworks/HomeworkDev4/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Homeworks/HomeworkDev4/.gradle/buildOutputCleanup/cache.properties
Homeworks/HomeworkDev4/.gradle/buildOutputCleanup/outputFiles.bin
Homeworks/HomeworkDev4/.gradle/file-system.probe
Homeworks/HomeworkDev4/.gradle/vcs-1/gc.properties
Homeworks/HomeworkDev4/.idea/compiler.xml
Homeworks/HomeworkDev4/.idea/dbnavigator.xml
Homeworks/HomeworkDev4/.idea/gradle.xml
Homeworks/HomeworkDev4/.idea/inspectionProfiles/Project_Default.xml
Homeworks/HomeworkDev4/.idea/jarRepositories.xml
Homeworks/HomeworkDev4/.idea/misc.xml
Homeworks/HomeworkDev4/.idea/uiDesigner.xml
Homeworks/HomeworkDev4/.idea/vcs.xml
Homeworks/HomeworkDev4/out/production/classes/org/example/DatabaseInitService.class
Homeworks/HomeworkDev4/out/production/classes/org/example/Database.class
Homeworks/HomeworkDev4/out/production/classes/org/example/DatabasePopulateService.class
Homeworks/HomeworkDev4/out/production/classes/org/example/DatabaseQueryService.class
Homeworks/HomeworkDev4/out/production/classes/org/example/Prefs.class
Homeworks/HomeworkDev4/out/production/classes/org/example/UpdateDb.class
Homeworks/HomeworkDev4.mv.db
Homeworks/HomeworkDev4/test.mv.db
Homeworks/HomeworkDev4/test.trace.db
Homeworks/Homework_8/Homework_8.iml
Homeworks/.idea/compiler.xml
Homeworks/.idea/misc.xml
Homeworks/.idea/modules.xml
Homeworks/Homework_8/Homework_8.iml
Homeworks/.idea/modules.xml
Homeworks/HomeworkDev4/out/production/classes/DTO/LongestProject.class
Homeworks/HomeworkDev4/out/production/classes/DTO/MaxProjectClient.class
Homeworks/HomeworkDev4/out/production/classes/DTO/MaxSalaryWorker.class
Homeworks/HomeworkDev4/out/production/classes/DTO/ProjectPrices.class
Homeworks/HomeworkDev4/out/production/classes/DTO/YoungestEldestWorkers.class
Homeworks/HomeworkDev5/.idea/.name
Homeworks/HomeworkDev5/.idea/dbnavigator.xml
Homeworks/HomeworkDev5/.idea/gradle.xml
Homeworks/HomeworkDev5/.idea/inspectionProfiles/Project_Default.xml
Homeworks/HomeworkDev5/.idea/misc.xml
Homeworks/HomeworkDev5/.idea/uiDesigner.xml
Homeworks/HomeworkDev5/test.mv.db
Homeworks/HomeworkDev5/test.trace.db
Homeworks/HomeworkDev5/gradlew.bat
Homeworks/HomeworkDev5/gradlew
Homeworks/HomeworkDev5/.gradle/8.1/checksums/sha1-checksums.bin
Homeworks/HomeworkDev5/.gradle/8.1/checksums/md5-checksums.bin
Homeworks/HomeworkDev5/.gradle/8.1/checksums/checksums.lock
Homeworks/HomeworkDev5/.idea/vcs.xml
Homeworks/HomeworkDev5/.idea/workspace.xml
Homeworks/HomeworkDev5/out/production/classes/org/example/DatabasePopulateServiceWithPS.class
Homeworks/HomeworkDev5/out/production/classes/org/example/DatabaseQueryService.class
Homeworks/HomeworkDev5/out/production/classes/org/example/Main.class
Homeworks/HomeworkDev5/out/production/classes/org/example/Prefs.class
Homeworks/HomeworkDev5/out/production/classes/org/example/UpdateDb.class
Homeworks/HomeworkDev6/.idea/gradle.xml
Homeworks/HomeworkDev6/.idea/misc.xml
Homeworks/HomeworkDev6/.idea/uiDesigner.xml
Homeworks/HomeworkDev6/.idea/vcs.xml
Homeworks/HomeworkDev6/test.mv.db
Homeworks/HomeworkDev5/.idea/workspace.xml
Homeworks/HomeworkDev7/.idea/gradle.xml
Homeworks/HomeworkDev7/.idea/misc.xml
Homeworks/HomeworkDev7/.idea/vcs.xml
Homeworks/HomeworkDev7/src/main/java/org/example/image.jpg
Homeworks/HomeworkDev8/.idea/gradle.xml
Homeworks/HomeworkDev8/.idea/misc.xml
Homeworks/HomeworkDev8/.idea/uiDesigner.xml
Homeworks/HomeworkDev8/.idea/vcs.xml
Homeworks/HomeworkDev9/.idea/gradle.xml
Homeworks/HomeworkDev9/.idea/misc.xml
Homeworks/HomeworkDev9/.idea/vcs.xml
Homeworks/HomeworkDev6/.idea/.name
