/Homeworks/Homework1DevGradle/.gradle/
Homeworks/Homework1DevGradle/gradlew
Homeworks/Homework1DevGradle/gradlew.bat
Homeworks/Homework1DevGradle/.idea/compiler.xml
Homeworks/Homework1DevGradle/.idea/gradle.xml
Homeworks/Homework1DevGradle/.idea/jarRepositories.xml
Homeworks/Homework1DevGradle/.idea/misc.xml
Homeworks/Homework1DevGradle/.idea/uiDesigner.xml
Homeworks/Homework1DevGradle/.idea/vcs.xml
Homeworks/Homework1DevGradle/gradlew
Homeworks/Homework1DevGradle/gradlew.bat
Homeworks/Homewotk1DevMaven/.idea/compiler.xml
Homeworks/Homewotk1DevMaven/.idea/encodings.xml
Homeworks/Homewotk1DevMaven/.idea/jarRepositories.xml
Homeworks/Homewotk1DevMaven/.idea/misc.xml
Homeworks/Homewotk1DevMaven/.idea/uiDesigner.xml
Homeworks/Homewotk1DevMaven/.idea/vcs.xml
Homeworks/Homewotk1DevMaven/target/classes/dto/UserDTO.class
Homeworks/Homewotk1DevMaven/target/classes/Main.class
Homeworks/Homewotk1DevMaven/target/maven-archiver/pom.properties
Homeworks/Homewotk1DevMaven/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Homeworks/Homewotk1DevMaven/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Homeworks/Homewotk1DevMaven/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Homeworks/Homewotk1DevMaven/target/my-name.jar
Homeworks/Homewotk1DevMaven/target/myname.jar
Homeworks/Homework1DevGradle/gradlew.bat
Homeworks/Homework1DevGradle/gradlew
Homeworks/Homework1DevGradle/build/tmp/jar/MANIFEST.MF
Homeworks/Homework1DevGradle/.idea/compiler.xml
Homeworks/Homework1DevGradle/.idea/gradle.xml
Homeworks/Homework1DevGradle/.idea/jarRepositories.xml
Homeworks/Homework1DevGradle/.idea/misc.xml
Homeworks/Homework1DevGradle/.idea/uiDesigner.xml
Homeworks/Homework1DevGradle/.idea/vcs.xml
Homeworks/Homework1DevGradle/build/classes/java/main/org/myName/Main.class
Homeworks/Homework1DevGradle/build/classes/java/main/org/myName/UserDTO.class
Homeworks/Homework1DevGradle/build/libs/myname.jar
Homeworks/Homework1DevGradle/build/tmp/.cache/expanded/expanded.lock
Homeworks/Homework1DevGradle/build/tmp/compileJava/previous-compilation-data.bin
Homeworks/Homework1DevGradle/build/tmp/jar/MANIFEST.MF
