Homeworks/Homewotk1DevMaven/.idea/compiler.xml
Homeworks/Homewotk1DevMaven/.idea/encodings.xml
Homeworks/Homewotk1DevMaven/.idea/jarRepositories.xml
Homeworks/Homewotk1DevMaven/.idea/misc.xml
Homeworks/Homewotk1DevMaven/.idea/uiDesigner.xml
Homeworks/Homewotk1DevMaven/.idea/vcs.xml
Homeworks/Homewotk1DevMaven/target/classes/dto/UserDTO.class
Homeworks/Homewotk1DevMaven/target/classes/Main.class
Homeworks/Homewotk1DevMaven/target/maven-archiver/pom.properties
Homeworks/Homewotk1DevMaven/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Homeworks/Homewotk1DevMaven/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Homeworks/Homewotk1DevMaven/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Homeworks/Homewotk1DevMaven/target/my-name.jar
Homeworks/Homewotk1DevMaven/target/myname.jar
Homeworks/Homework1DevGradle/gradlew
Homeworks/Homework1DevGradle/gradlew.bat
Homeworks/Homework1DevGradle/build
Homeworks/Homework1DevGradle/.idea
Homeworks/Homework1DevGradle/.gradle/8.1.1/checksums/checksums.lock
Homeworks/Homework1DevGradle/.gradle/8.1.1/checksums/md5-checksums.bin
Homeworks/Homework1DevGradle/.gradle/8.1.1/checksums/sha1-checksums.bin
Homeworks/Homework1DevGradle/.gradle/8.1.1/dependencies-accessors/dependencies-accessors.lock
Homeworks/Homework1DevGradle/.gradle/8.1.1/dependencies-accessors/gc.properties
Homeworks/Homework1DevGradle/.gradle/8.1.1/executionHistory/executionHistory.bin
Homeworks/Homework1DevGradle/.gradle/8.1.1/executionHistory/executionHistory.lock
Homeworks/Homework1DevGradle/.gradle/8.1.1/fileChanges/last-build.bin
Homeworks/Homework1DevGradle/.gradle/8.1.1/fileHashes/fileHashes.bin
Homeworks/Homework1DevGradle/.gradle/8.1.1/fileHashes/fileHashes.lock
Homeworks/Homework1DevGradle/.gradle/8.1.1/fileHashes/resourceHashesCache.bin
Homeworks/Homework1DevGradle/.gradle/8.1.1/gc.properties
Homeworks/Homework1DevGradle/.gradle/8.1/checksums/checksums.lock
Homeworks/Homework1DevGradle/.gradle/8.1/checksums/md5-checksums.bin
Homeworks/Homework1DevGradle/.gradle/8.1/checksums/sha1-checksums.bin
Homeworks/Homework1DevGradle/.gradle/8.1/dependencies-accessors/dependencies-accessors.lock
Homeworks/Homework1DevGradle/.gradle/8.1/dependencies-accessors/gc.properties
Homeworks/Homework1DevGradle/.gradle/8.1/executionHistory/executionHistory.bin
Homeworks/Homework1DevGradle/.gradle/8.1/executionHistory/executionHistory.lock
Homeworks/Homework1DevGradle/.gradle/8.1/fileChanges/last-build.bin
Homeworks/Homework1DevGradle/.gradle/8.1/fileHashes/fileHashes.bin
Homeworks/Homework1DevGradle/.gradle/8.1/fileHashes/fileHashes.lock
Homeworks/Homework1DevGradle/.gradle/8.1/fileHashes/resourceHashesCache.bin
Homeworks/Homework1DevGradle/.gradle/8.1/gc.properties
Homeworks/Homework1DevGradle/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Homeworks/Homework1DevGradle/.gradle/buildOutputCleanup/cache.properties
Homeworks/Homework1DevGradle/.gradle/buildOutputCleanup/outputFiles.bin
Homeworks/Homework1DevGradle/.gradle/file-system.probe
Homeworks/Homework1DevGradle/.gradle/vcs-1/gc.properties
Homeworks/Homework1DevGradle/.idea/workspace.xml
Homeworks/Homework1DevGradle/gradlew
Homeworks/Homework1DevGradle/gradlew.bat
Homeworks/Homework1DevGradle/.gradle/file-system.probe
Homeworks/Homework1DevGradle/.idea/workspace.xml
Homeworks/Homework1DevGradle/.idea/workspace.xml
Homeworks/HomeworkDev1Maven/.idea/compiler.xml
Homeworks/HomeworkDev1Maven/.idea/encodings.xml
Homeworks/HomeworkDev1Maven/.idea/jarRepositories.xml
Homeworks/HomeworkDev1Maven/.idea/misc.xml
Homeworks/HomeworkDev1Maven/.idea/uiDesigner.xml
Homeworks/HomeworkDev1Maven/.idea/vcs.xml
Homeworks/HomeworkDev1Maven/target/classes/dto/UserDTO.class
Homeworks/HomeworkDev1Maven/target/classes/Main.class
Homeworks/HomeworkDev1Maven/target/maven-archiver/pom.properties
Homeworks/HomeworkDev1Maven/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Homeworks/HomeworkDev1Maven/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Homeworks/HomeworkDev1Maven/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Homeworks/HomeworkDev1Maven/target/my-name.jar
Homeworks/HomeworkDev1Maven/target/myname.jar
